<!DOCTYPE>
<html>
    <head>
        <title>Google Info</title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="img-box">
                    <img class="img" src="{{user_info['picture']}}" />
                </div>
                <div class="header">
                    <h4>Email: {{user_info['email']}}</h4>
                    <h4>iss: {{user_info['iss']}}</h4>
                    <h4>azp: {{user_info['azp']}}</h4>
                    <h4>aud: {{user_info['aud']}}</h4>
                    <h4>sub: {{user_info['sub']}}</h4>
                    <h4>Email verified: {{user_info['email_verified']}}</h4>
                    <h4>at hash: {{user_info['at_hash']}}</h4>
                    <h4>nonce: {{user_info['nonce']}}</h4>
                    <h4>name: {{user_info['name']}}</h4>
                    <h4>iat: {{user_info['iat']}}</h4>
                    <h4>exp: {{user_info['exp']}}
                </div>
            </div>
            <button class="google-btn">
                <a href = "/">
                <div class="google-icon"></div>
                <span class="btn-text">Back</span>
            </a>
        </button>
        </div>
    </body>
</html>